@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

html {
  /*font-family:"Open Sans";*/
  font-family: 'Dosis';
}

$backgroundColour: #eee;

:export {
    leftColour: #23bff9;
    rightColour: #ffb72d;
}

body {
  background-color: $backgroundColour;
  margin: 0px;
}

.avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.content {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: center;
}

.addButton {
  margin-left: 25%;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.header {
	padding: 5px;
	top: 0;
	left: 0;
	width: 100%;
  display: inline-flex;
	@media screen and (max-width: 40.5em) {
		background-color: #fff;
	}
	@media screen and (min-width: 40.5em) {
		background-color: #aaa;
	}
  h3 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

.thingHolder {
  display: inline-flex;
}

.searchHolder {
  display: inline-flex;
}

.thingContainer {
  height: 340px;
  width: 400px;
	@media screen and (max-width: 40.5em) {
		min-width: 80px;
	}
	padding: 4px;
	background-color: #ccc;
	margin: 3px;
	transition-duration: 0.5s;
}

.progressContainer {
	max-width: 468px;
  display: flex;
	@media screen and (max-width: 40.5em) {
		max-width: 388px;
	}
  padding-top: 2px;
  margin: 0 auto;
}
