@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

html {
  /*font-family:"Open Sans";*/
  font-family: 'Dosis';
}

$backgroundColour: #ccc;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #aaa;
}

body {
  background-color: $backgroundColour;
}