@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

html {
  /*font-family:"Open Sans";*/
  font-family: 'Dosis';
}

$backgroundColour: #eee;

body {
  background-color: $backgroundColour;
  margin: 0px;
}

.content {
  position: relative;
}

.header {
	padding: 5px;
	top: 0;
	left: 0;
	width: 100%;
	@media screen and (max-width: 40.5em) {
		background-color: #fff;	
	}
	@media screen and (min-width: 40.5em) {
		background-color: #aaa;	
	}
}

.thingHolder {
	display: flex;
}

.thingContainer {
	padding: 4px;
	background-color: #ccc;
	margin: 3px;
	transition-duration: 0.5s;
}
.thingContainer:hover {
	background-color: #28d65c;
}
.thingContainer:active {
	background-color: #000000;
	color: #ffffff;
}

.progressContainer {
	max-width: 200px;
}